.lba-not-found-page {
    height: 100%;
    text-align: left;
    background-color: white;
    box-sizing: border-box;
    padding: var(--lba-page-paddings);
    flex: 1 0 auto;
}

.lba-not-found-page > h1 {
    margin: 0;
    padding: 0;
    color: black;
    font-size: 1.625rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
}
