.lba-loader-backdrop {
    --lba-loading-bg-color: var(--transparent-black-pearl-color);

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: var(--lba-loading-bg-color);
    opacity: 0;
    transition-duration: 200ms;
    pointer-events: none;
    cursor: wait;
}

.lba-loader-backdrop--full-screen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.lba-loader-backdrop--show {
    opacity: 1;
    pointer-events: all;
}
