.lba-button {
    --lba-button-bg-color: var(--bluish-green-color);
    --lba-button-shadow-color: rgba(133, 133, 133, 0.5);
    --lba-button-active-color: var(--dark-blue-grey-color);
    --lba-button-disabled-color: var(--alto-gray-color);
    --lba-button-hover-color: var(--pale-teal-color);

    display: block;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0.75em 1em;
    width: 12em;
    max-width: 100%;
    height: 2.5em;
    border: none;
    border-radius: 1.25em;
    background: var(--lba-button-bg-color);
    box-shadow: initial;
    color: white;

    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;

    transform: translateY(0);

    will-change: transform, background, box-shadow;
    transition: transform 0.2s ease-in-out, background 0.2s, box-shadow 0.6s;

    cursor: pointer;
}

.lba-button:hover {
    background: var(--lba-button-hover-color);
    box-shadow: 0 0.2em 0.25em 0 rgba(133, 133, 133, 0.5);
    transform: translateY(-0.25em);
    transition: transform, box-shadow, background 0.2s ease-in-out;
}

.lba-button:active {
    background: var(--lba-button-active-color);
    box-shadow: initial;
    transform: translateY(0);
}

.lba-button--disabled,
.lba-button--disabled:hover,
.lba-button--disabled:active {
    background: var(--lba-button-disabled-color);
    box-shadow: initial;
    transform: translateY(0);
    cursor: not-allowed;
}

.lba-button:focus {
    outline: 0.15em dotted var(--lba-button-disabled-color);
}

/* TODO uncomment this feature after implementation in all major browsers */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
/*.lba-button:focus:not(:focus-visible) {*/
/*outline: none;*/
/*}*/
