.lba-select-container {
    --lba-select-bg-color: var(--wild-sand-color);
    --lba-select-text-color: var(--dark-blue-grey-color);
    --lba-selected-option-color: var(--bluish-green-color);
    --lba-select-box-shadow: 0 0.15em 0.3em 0 var(--silver-chalice-color);
    --lba-select-disabled-bg-color: var(--cararra-color);
    --lba-select-error-color: var(--radical-red-color);
    --lba-select-disabled-border-color: var(--alto-gray-color);

    position: relative;
    box-sizing: content-box;
    min-height: 2.5em;
    border: none;
    background: transparent;

    font-size: 1rem;
    line-height: 1.6;

    cursor: pointer;
    outline: none;
}

.lba-select-container svg path {
    fill: var(--lba-select-text-color);
}

.lba-select-container svg.lba-select-chevron-down path {
    fill: none;
    stroke: var(--lba-select-text-color);
}

.lba-select-container--disabled svg.lba-select-chevron-down path {
    fill: none;
    stroke: gray;
}

.lba-select {
    width: 100%;
    height: inherit;

    overflow: hidden;
    box-sizing: border-box;
    padding: 0.65em 0.5em 0.5em;
    border: none;
    border-bottom: 0.125em solid currentColor;
    color: var(--lba-select-text-color);
    background: white;

    text-overflow: ellipsis;
    white-space: nowrap;
    outline: none;

    -webkit-appearance: none;
    appearance: none;
}

.lba-select::placeholder {
    color: currentColor;
}

.lba-select:focus {
    background: var(--lba-select-bg-color);
}

.lba-select[readonly]:focus {
    background: white;
}

.lba-select-container--disabled .lba-select {
    border-bottom: 0.18em solid var(--lba-select-disabled-border-color);

    background: var(--lba-select-disabled-bg-color);
    color: gray;

    pointer-events: none;
    cursor: not-allowed;
}

.lba-select-container--error .lba-select {
    border-bottom-color: var(--lba-select-error-color);
}

.lba-select-chevron-down {
    position: absolute;
    top: 0.65em;
    right: 0.5em;

    width: 0.9em;
    height: 1.1em;

    fill: var(--lba-select-text-color);
}

.lba-select--not-editable > input {
    cursor: pointer;
}

.lba-select-container--expanded > .lba-select-options {
    display: block;
}

.lba-select-chevron-down {
    will-change: transform;
    transition: transform 0.2s ease-in;
}

.lba-select-container--expanded .lba-select-chevron-down {
    transform: rotate(180deg);
}

.lba-select-options {
    position: absolute;
    z-index: 9;

    display: none;
    overflow-y: scroll;
    box-sizing: border-box;
    width: 100%;
    max-height: 30em;
    padding: 0;
    border-radius: 0.5em;
    border-top: none;
    margin: 0;

    background-color: white;

    list-style-type: none;
    box-shadow: var(--lba-select-box-shadow);
}

.lba-select-option {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 0.65em 0.75em 0.5em 0.75em;

    outline: none;
}

.lba-select-option.lba-select-option--icon {
    padding: 0.65em 0.75em 0.5em 0;
}

.lba-select-container--children .lba-select {
    padding: 0.65em 1.7em 0.5em;
}

.lba-select-option:hover {
    background: var(--lba-select-bg-color);
}

.lba-select-option:first-child:hover {
    background: var(--lba-select-bg-color);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.lba-select-option:last-child:hover {
    background: var(--lba-select-bg-color);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.lba-select-option--selected svg > path {
    fill: var(--lba-selected-option-color);
}

.lba-select-option--selected .lba-select-option-content {
    color: var(--lba-selected-option-color);
}

.lba-select-option--selected.lba-select-option--icon .lba-select-option-content {
    color: inherit;
}

.lba-select-option:focus {
    background: var(--lba-select-bg-color);
}

.lba-select-option-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 3.7em;
}

.lba-select-option-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.lba-select-option-content > span {
    padding-top: 0.3em;
}

.lba-select-chevron-down:focus {
    outline: var(--lba-focused-control-outline);
}

.lba-select-error-alert {
    display: block;
    margin-top: 0.87em;
    color: var(--lba-select-error-color);
    font-size: 1em;
    text-align: center;
    cursor: initial;
}

.lba-select-error-alert > span {
    position: relative;
    padding-left: 1.5em;
}

.lba-select-error-alert > span::before {
    content: '!';
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: -0.125em;
    padding: 0.188em 0.125em 0.188em 0.188em;
    width: 1.25em;
    height: 1.2em;
    border-radius: 50%;
    background: var(--lba-select-error-color);
    color: white;
    text-align: center;
    line-height: 1.1;
}
