.lba-comment {
    --lba-comment-icon-color: var(--denim-color);
    --lba-comment-text-color: var(--outer-space-color);
    --lba-comment-border-color: var(--catskill-white-color);
    --lba-dark-comment-text-color: white;

    min-width: 7.8em;
    font-size: 1rem;
}

.lba-comment .lba-comment-author {
    display: flex;
}

.lba-comment .lba-comment-author > i {
    height: 1em;
    color: var(--lba-comment-icon-color);
    font-size: 1em;
    line-height: 1;
    text-align: center;
}

.lba-comment .lba-comment-author > p {
    margin: 0 0 0 0.625em;
    color: var(--lba-comment-text-color);
    font-size: 0.75em;
    font-weight: bold;
    line-height: 1.4;
}

.lba-comment .lba-comment-text {
    padding: 0.75em 1em;
    margin-top: 0.25em;
    border: 0.065em solid var(--lba-comment-border-color);
    border-radius: 0 0.5em 0.5em 0.5em;
}

.lba-comment .lba-comment-text p {
    margin: 0;
    color: var(--lba-comment-text-color);
    font-size: 0.68em;
    font-weight: 600;
    line-height: 1.5;
}

.lba-comment--dark .lba-comment-author > p,
.lba-comment .lba-comment-author > i,
.lba-comment--dark .lba-comment-text p {
    color: var(--lba-dark-comment-text-color);
}
