.lba-text-input {
    --lba-text-input-bg-color: var(--wild-sand-color);
    --lba-text-input-text-color: var(--dark-blue-grey-color);
    --lba-text-input-error-color: var(--radical-red-color);
    --lba-text-input-disabled-color: var(--alto-gray-color);

    position: relative;
    font-size: 1rem;
}

.lba-text-input > input {
    height: 2.5em;
    width: 100%;
    box-sizing: border-box;
    padding: 0.65em 0.5em 0.5em;
    border: none;
    border-bottom: 0.125em solid var(--lba-text-input-text-color);
    color: var(--lba-text-input-text-color);
    background: transparent;
    font-size: 1em !important; /* for IE */
    line-height: 1.6;

    outline: none;
}

.lba-text-input--with-icon > input {
    padding: 0.65em 1.7em 0.5em;
}

.lba-text-input > input::placeholder {
    color: currentColor;
}

.lba-text-input > input:focus {
    background: var(--lba-text-input-bg-color);
}

.lba-text-input--error > input {
    border-bottom-color: var(--lba-text-input-error-color);
}

.lba-text-input--disabled {
    pointer-events: none;
    cursor: not-allowed;
}

.lba-text-input--disabled > input {
    color: gray;
    border-bottom-color: var(--lba-text-input-disabled-color);
}

.lba-text-input-helper-text {
    display: inline-block;
    box-sizing: border-box;
    padding: 0.65em 0.65em 0;
    color: currentColor;
    font-size: 0.75em;
    line-height: 1.5;
}

.lba-text-input--disabled .lba-text-input-helper-text {
    color: gray;
}

.lba-text-input-error-alert {
    display: block;
    margin-top: 0.87em;
    color: var(--lba-text-input-error-color);
    font-size: 1rem;
    text-align: center;
    cursor: default;
}

.lba-text-input-warning-icon {
    display: inline-block;
    width: 1.125em;
    height: 1.125em;
    margin: -0.25em 0 0 0;
    background: url('./warning.svg');
    vertical-align: middle;
}

.lba-text-input-error-alert > span {
    font-size: 0.9375em;
}

.lba-text-input-error-alert > .lba-text-input-warning-icon + span {
    margin-left: 0.6em;
}
