.lba-history-item {
    --lba-history-item-bg-color: var(--white-color);
    --lba-history-item-border-color: var(--catskill-white-color);
    --lba-history-item-shadow-color: var(--st-tropaz-color);
    --lba-history-item-inset-shadow-color: var(--elephant-color);
    --lba-history-item-text-color: var(--outer-space-color);
    --lba-history-item-sub-title-color: var(--waterloo-color);
    --lba-history-item-arrow-color: var(--blaze-orange-color);
    --lba-dark-history-bg-color: linear-gradient(0deg, var(--endeavour-color) 0%, var(--shakespeare-color) 100%);
    --lba-dark-history-item-sub-title-color: var(--onahau-color);
    --lba-dark-history-item-text-color: white;

    position: relative;
    min-width: 18.75em;
    border: 0.06em solid var(--lba-history-item-border-color);
    background-color: var(--lba-history-item-bg-color);
    font-size: 1rem;
    box-shadow: 0 0.5em 1.5em 0 var(--lba-history-item-shadow-color);
}

.lba-history-item section.lba-history-amount,
.lba-history-item section.lba-history-state {
    padding: 1.125em 1.375em;
}

.lba-history-item section.lba-history-state > p:first-child {
    margin: 0 0 0.93em 0;
    color: var(--lba-history-item-sub-title-color);
    font-size: 0.875em;
    line-height: 1.5;
    font-weight: 600;
}

.lba-history-item section.lba-history-state > p:first-child > span {
    margin-left: 0.36em;
    font-weight: lighter;
    font-size: 0.86em;
}

.lba-history-item section.lba-history-state > p:last-child {
    margin: 0.36em 0 0 0;
    color: var(--lba-history-item-text-color);
    font-size: 0.875em;
    font-weight: bold;
    line-height: 1.5;
}

.lba-history-item section.lba-history-amount {
    position: relative;
    border-top: 0.06em solid var(--lba-history-item-border-color);
}

.lba-history-item section.lba-history-amount p:first-child {
    position: absolute;
    top: -0.835em;
    left: 2.085em;
    margin: 0;
    padding: 0 0.5em;
    color: var(--lba-history-item-sub-title-color);
    background-color: var(--lba-history-item-bg-color);
    font-size: 0.75em;
    font-weight: 600;
    line-height: 1.5;
}

.lba-history-item section.lba-history-amount p:last-child {
    margin: 0;
    color: var(--lba-history-item-text-color);
    font-size: 0.815em;
    font-weight: bold;
    line-height: 1.3;
}

.lba-history-item section.lba-history-amount p:last-child i {
    margin: 0 1.19em;
    color: var(--lba-history-item-arrow-color);
    font-size: 1.25em;
    text-align: center;
}

.lba-history-item .lba-history-comment {
    padding: 0.69em 0.94em 1.5em 1.375em;
    box-shadow: 0 -0.125em 0.25em 0 var(--lba-history-item-inset-shadow-color);
}

/*.lba-history-item::before,*/
.lba-history-item::after {
    position: absolute;
    top: 20px;
    /*left: -8px;*/
    left: -6px;
    width: 0;
    height: 0;
    border-width: 6px 6px 6px 0;
    border-style: solid;
    /*border-color: transparent var(--lba-history-item-border-color) transparent transparent;*/
    border-color: transparent white transparent transparent;
    content: '';
}

/*.lba-history-item::after {*/
/*left: -6px;*/
/*border-right-color: white;*/
/*}*/

.lba-history-item::before {
    position: absolute;
    top: 20px;
    left: -22px;
    content: '';
    height: 8px;
    width: 8px;
    background-color: red;
    border: 0.06em solid var(--lba-history-item-border-color);
    border-radius: 50%;
}

.lba-history-item--dark {
    background: var(--lba-dark-history-bg-color);
    border-radius: 7px;
}

.lba-history-item--dark section.lba-history-state > p:first-child {
    color: var(--lba-dark-history-item-sub-title-color);
}

.lba-history-item--dark section.lba-history-state > p:last-child,
.lba-history-item--dark section.lba-history-amount p:first-child,
.lba-history-item--dark section.lba-history-amount p:last-child {
    color: var(--lba-dark-history-item-text-color);
}

.lba-history-item--dark section.lba-history-amount p:first-child {
    background: transparent;
}
