.lba-history {
    font-size: 1rem;
    /*background: linear-gradient(45deg, #fff 35%, #D8DEF0 0, #D8DEF0 50%, #fff 0, #fff 85%, #D8DEF0 0);*/
    background-size: 12px 12px;
    /*border-left: 1px solid #C7D0EB;*/
}

.lba-history .lba-history-list {
    width: 340px;
    padding-left: 20px;
    padding-bottom: 16px;
}

.lba-history .lba-history-list .lba-history-item {
    margin-bottom: 16px;
}

.lba-history .lba-history-list .lba-history-item2::before {
    /*position: absolute;*/
    /*left: -18px;*/
    /*width: 1px;*/
    /*height: calc(100% + 17px);*/
    /*background-color: #C7D0EB;*/
    /*content: '';*/
}
