.lba-checkbox {
    --lba-checkbox-error-color: var(--radical-red-color);
    --lba-checkbox-border-color: var(--dark-blue-grey-color);
    --lba-checkbox-disabled-color: var(--tower-gray-color);
    --lba-checkbox-general-dark-text-color: var(--black-pearl-color);
}

.lba-checkbox,
.lba-checkbox-wrapper {
    position: relative;
    font-size: 1rem;
}

.lba-checkbox-wrapper {
    display: inline-flex;
    cursor: pointer;
}

.lba-checkbox--has-focus .lba-checkbox-wrapper {
    outline: var(--lba-focused-control-outline);
}

.lba-checkbox-error {
    position: relative;
    margin-top: 1rem;
    padding: 0.75em 1.5em;
    border: 0.065em solid var(--lba-checkbox-error-color);
    background: transparent;
    color: var(--lba-checkbox-error-color);
    font-size: 0.9375em;
    line-height: 1.3;
}

.lba-checkbox-error::before,
.lba-checkbox-error::after {
    position: absolute;
    top: -0.5rem;
    left: 1rem;
    width: 0;
    height: 0;
    border-width: 0 0.5rem 0.5rem 0.5rem;
    border-style: solid;
    border-color: transparent transparent var(--lba-checkbox-error-color) transparent;
    content: '';
}

.lba-checkbox-error::after {
    top: -0.375rem;
    border-bottom-color: white;
}

.lba-checkbox-native-control {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -1;
}

.lba-checkbox-control {
    position: relative;
    min-width: 1.3em;
    height: 1.3em;
    margin: 0.0625em 0 0;
    border-radius: 0.125em;
    border: 0.065em solid var(--lba-checkbox-border-color);
}

.lba-checkbox-control::after {
    position: absolute;
    display: block;
    top: 0.125em;
    right: 0.125em;
    left: 0.125em;
    bottom: 0.125em;
    content: '';
    border-radius: 0.0625em;
    background: white;
}

.lba-checkbox-native-control:checked + .lba-checkbox-control::after {
    background: white url('./check.svg') no-repeat center;
    background-size: 1.375em;
}

.lba-checkbox-label {
    box-sizing: border-box;
    padding: 0.1em 0 0 0.7em;
    color: var(--lba-checkbox-general-dark-text-color);
    font-size: 1.125em;
    font-weight: 500;
    line-height: 1.3;
}

.lba-checkbox-label a {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
}

.lba-checkbox-label a:hover {
    text-decoration: underline;
}

.lba-checkbox--disabled {
    opacity: 0.6;
    pointer-events: none;
}

.lba-checkbox--disabled .lba-checkbox-label {
    color: var(--lba-checkbox-disabled-color);
}

.lba-checkbox--disabled .lba-checkbox-native-control:checked + .lba-checkbox-control::after,
.lba-checkbox--disabled .lba-checkbox-control::before {
    background: var(--lba-checkbox-disabled-color);
}

.lba-checkbox--disabled .lba-checkbox-control {
    border-color: var(--lba-checkbox-disabled-color);
}

.lba-checkbox--required .lba-checkbox-label {
    padding-right: 0.25em;
}

.lba-checkbox--required .lba-checkbox-label::after {
    position: relative;
    top: -0.15em;
    right: -0.15em;
    content: '*';
    color: var(--lba-checkbox-error-color);
    font-size: 85%;
}

.lba-checkbox-help-text {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0.75em 0 0 3em;
    color: black;
    font-size: 0.75em;
    font-weight: 400;
    line-height: 1.5;
}
