.lba-app {
    --lba-app-bg-color: var(--aqua-haze-color);
    --lba-general-text-color: var(--blumine-color);

    height: 100%;
    min-width: 90.25em;
    font-size: 1rem;
}

.lba-main-container {
    position: relative;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    width: 100%;
    color: var(--lba-general-text-color);
    background-color: var(--lba-app-bg-color);
    text-align: center;
    transition: padding-left 0.3s;
    -webkit-overflow-scrolling: touch;
}

.lba-main-container main {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}
.lba-menu-container {
    width: auto;
    height: 100%;
    max-width: 100vw;
    background: white;
}
