@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-display: fallback;
    font-weight: 900;
    src: local('Nunito Sans Black'), local('NunitoSans-Black'),
        url('/nunito-sans/NunitoSans-Black.ttf') format('opentype');
}

@font-face {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-display: fallback;
    font-weight: 900;
    src: local('Nunito Sans Black Italic'), local('NunitoSans-BlackItalic'),
        url('/nunito-sans/NunitoSans-BlackItalic.ttf') format('opentype');
}

@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-display: fallback;
    font-weight: 700;
    src: local('Nunito Sans Bold'), local('NunitoSans-Bold'), url('/nunito-sans/NunitoSans-Bold.ttf') format('opentype');
}

@font-face {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-display: fallback;
    font-weight: 700;
    src: local('Nunito Sans Bold Italic'), local('NunitoSans-BoldItalic'),
        url('/nunito-sans/NunitoSans-BoldItalic.ttf') format('opentype');
}

@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-display: fallback;
    font-weight: 800;
    src: local('Nunito Sans ExtraBold'), local('NunitoSans-ExtraBold'),
        url('/nunito-sans/NunitoSans-ExtraBold.ttf') format('opentype');
}

@font-face {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-display: fallback;
    font-weight: 800;
    src: local('Nunito Sans ExtraBold Italic'), local('NunitoSans-ExtraBoldItalic'),
        url('/nunito-sans/NunitoSans-ExtraBoldItalic.ttf') format('opentype');
}

@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-display: fallback;
    font-weight: 200;
    src: local('Nunito Sans ExtraLight'), local('NunitoSans-ExtraLight'),
        url('/nunito-sans/NunitoSans-ExtraLight.ttf') format('opentype');
}

@font-face {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-display: fallback;
    font-weight: 200;
    src: local('Nunito Sans ExtraLight Italic'), local('NunitoSans-ExtraLightItalic'),
        url('/nunito-sans/NunitoSans-ExtraLightItalic.ttf') format('opentype');
}

@font-face {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-display: fallback;
    font-weight: 400;
    src: local('Nunito Sans Italic'), local('NunitoSans-Italic'),
        url('/nunito-sans/NunitoSans-Italic.ttf') format('opentype');
}

@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-display: fallback;
    font-weight: 300;
    src: local('Nunito Sans Light'), local('NunitoSans-Light'),
        url('/nunito-sans/NunitoSans-Light.ttf') format('opentype');
}

@font-face {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-display: fallback;
    font-weight: 300;
    src: local('Nunito Sans Light Italic'), local('NunitoSans-LightItalic'),
        url('/nunito-sans/NunitoSans-LightItalic.ttf') format('opentype');
}

@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-display: fallback;
    font-weight: 400;
    src: local('Nunito Sans Regular'), local('NunitoSans-Regular'),
        url('/nunito-sans/NunitoSans-Regular.ttf') format('opentype');
}

@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-display: fallback;
    font-weight: 600;
    src: local('Nunito Sans SemiBold'), local('NunitoSans-SemiBold'),
        url('/nunito-sans/NunitoSans-SemiBold.ttf') format('opentype');
}

@font-face {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-display: fallback;
    font-weight: 600;
    src: local('Nunito Sans SemiBold Italic'), local('NunitoSans-SemiBoldItalic'),
        url('/nunito-sans/NunitoSans-SemiBoldItalic.ttf') format('opentype');
}
