@import '../node_modules/material-design-iconic-font/dist/css/material-design-iconic-font.min.css';
@import 'fonts.css';
@import '~normalize.css/normalize.css';

:root {
    /* Color Schema */
    /* Use this service for naming - http://chir.ag/projects/name-that-color */
    --blumine-color: #1e577b;
    --steel-blue-color: #4083b5;
    --aqua-haze-color: #f0f4f7;
    --dark-blue-grey-color: #233647;
    --bluish-green-color: #13b584;
    --pale-teal-color: #81d6b3;
    --alto-gray-color: #dfdfdf;
    --wild-sand-color: #f5f5f5;
    --radical-red-color: #ff2d63;
    --tower-gray-color: #b1bac1;
    --black-pearl-color: #051a2d;
    --white-color: #ffffff;
    --catskill-white-color: #e7eaf3;
    --outer-space-color: #33373a;
    --waterloo-color: #818292;
    --blaze-orange-color: #ff6600;
    --amber-color: #ffc200;
    --french-pass-color: #b7ebff;
    --red-orange-color: #ff3737;
    --shamrock-color: #3ed67e;
    --denim-color: #1576be;
    --endeavour-color: #0066b3;
    --shakespeare-color: #3f98d4;
    --onahau-color: #d3ecff;
    --chathams-blue-color: rgba(21, 72, 111, 0.2);
    --black-opacity-color: rgba(0, 0, 0, 0.1);
    --outer-space-opacity-color: rgba(255, 202, 168, 0.3);
    --flesh-color: rgba(255, 202, 168, 0.3);
    --elephant-color: rgba(13, 49, 76, 0.05);
    --st-tropaz-color: rgba(43, 102, 146, 0.1);
    --transparent-black-pearl-color: rgba(5, 26, 45, 0.8);
    --silver-chalice-color: rgba(160, 160, 160, 0.5);
    --cararra-color: rgb(235, 235, 228);

    /* Common sizes */
    --lba-page-paddings: 1.5rem 2rem 2rem;
    --lba-border-width: 0.06rem;
    --lba-focused-control-outline: var(--lba-border-width) dotted var(--steel-blue-color);
    --lba-font-family: 'Nunito Sans', 'Artegra Sans Alt', Helvetica, sans-serif;
}

#lba-routes,
#lba-app-layout {
    width: 100%;
    height: 100%;
    min-width: 300px;
    font-family: var(--lba-font-family);
}
