.lba-state-indicator {
    --lba-indicator-border-color: var(--flesh-color);
    --lba-indicator-shadow-color: var(--outer-space-opacity-color);
    --lba-indicator-inner-inset-shadow-color: var(--black-opacity-color);
    --lba-indicator-inner-shadow-color: var(--chathams-blue-color);
    --lba-indicator-text-color: var(--outer-space-color);
    --lba-indicator-review-color: var(--amber-color);
    --lba-indicator-waiting-color: var(--french-pass-color);
    --lba-indicator-reject-color: var(--red-orange-color);
    --lba-indicator-approved-color: var(--shamrock-color);

    display: flex;
    font-size: 1rem;
}

.lba-state-indicator--dark {
    --lba-indicator-text-color: #ffffff;
}

.lba-state-indicator .lba-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 1.1em;
    box-sizing: border-box;
    height: 1.1em;
    width: 1.1em;
    border: 0.07em solid var(--lba-indicator-border-color);
    background: transparent;
    box-shadow: 0 0.125em 0.5em 0 var(--lba-indicator-shadow-color);
    border-radius: 50%;
}

.lba-state-indicator .lba-indicator > div {
    box-sizing: border-box;
    height: 0.8em;
    width: 0.8em;
    border: 0.19em solid white;
    box-shadow: inset 0 0.07em 0.19em 0 var(--lba-indicator-inner-inset-shadow-color),
        0 0.125em 0.25em 0 var(--lba-indicator-inner-shadow-color);
    border-radius: 50%;
}

.lba-state-indicator p {
    margin: 0 0 0 0.2em;
    color: var(--lba-indicator-text-color);
    font-size: 0.875em;
    font-weight: 600;
    line-height: 1.3;
}

.lba-state-indicator--review .lba-indicator > div {
    background-color: var(--lba-indicator-review-color);
}

.lba-state-indicator--waiting .lba-indicator > div {
    background-color: var(--lba-indicator-waiting-color);
}

.lba-state-indicator--rejected .lba-indicator > div {
    background-color: var(--lba-indicator-reject-color);
}

.lba-state-indicator--approved .lba-indicator > div {
    background-color: var(--lba-indicator-approved-color);
}
